//arrow - banner home
.slick-prev {
    left: 100px;
    &::before {
        border-left: 3px solid #fff;
        @include transform( translate(-30%, -50%) rotate(-45deg) );
    }
}
.slick-next {
    right: 100px;
    &::before {
        border-right: 3px solid #fff;
        @include transform( translate(-60%, -50%) rotate(45deg) );
    }
}
.slick-prev, .slick-next {
    background: transparent;
    height: 40px;
    width: 40px;
    z-index: 2;
    &::before {
        border-top: 3px solid #fff;
        content: "";
        font-size: 0;
        left: 50%;
        opacity: 1;
        padding: 10px;
        position: absolute;
        top: 50%;
    }
}
//
.home-testimonial {
    .slick-prev {
        left: -8px;
        &::before {
            border-left: 4px solid #ccc;
        }
    }
    .slick-next {
        right: -8px;
        &::before {
            border-right: 4px solid #ccc;
        }
    }
    .slick-prev, .slick-next {
        &::before {
            border-top: 4px solid #ccc;
        }
    }
}
