.contact-form-content {
    label {
        margin: 10px 0 5px;
    }
    input, textarea {
        border: 1px solid #666666;
        width: 100%;
        padding: 5px 10px;
    }
    textarea {
        height: 150px;
    }
    .submit {
        background: $brand-primary;
        color: #fff;
        display: inline-block;
        padding: 5px 20px;
        width: auto;
        border: none;
        float: right;
        cursor: pointer;
        margin-bottom: 30px;
    }
}



.contact-form {
    br {
        display: none;
    }
    .wpcf7-not-valid-tip {
        margin-top: 5px;
    }
    .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
        border: medium none;
        color: red;
        margin: 0;
        padding: 0;
    }
    .wpcf7-mail-sent-ok {
        color: green;
    }
}

