.content-info {
	background: #333;
	padding: 40px 0;
	color: #fff;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li a {
	    	color: #fff;
		}
	}
}


.footer-socical .fa {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.footer-socical {
	> span {
		a {
			@include border-radius( 5px );
		}
		&:last-child {
			a {
				padding: 2px 10px;
				background: rgba(0, 0, 0, 0) url("../images/icon-f-zalo.jpg") no-repeat scroll center center;
			}
		}
	}
}

.footer-follow {
	.footer-follow-meta {
	    margin: 0 0 11px 0;
	    display: block;
	}
	#nf-contact-form {
		margin-bottom: 15px;
		.form-1 {
			.btn-submit {
				height: 100%;
			}
		}
	}
}

