.header-top-content {
    display: flex;
    display: -webkit-flex;
    @include justify-content( space-between );
    @include align-items( center );
    padding: 20px 0;
    .search-box {
    	display: block;
    }
}

//search
.search-box {
	display: none;
	width: 70%;
    form {
        margin: auto;
        position: relative;
        width: 70%;
        display: flex;
        display: -webkit-flex;
        input, select {
            display: block;
            width: 100%;
            border: 1px solid #888888;
            padding: 8px 10px;
        }
        input {

        }
        select {
		    width: auto;
		    min-width: 44%;
		    border-left: none;
		    background: #fff url("../images/icon-down.png") no-repeat scroll calc(100% - 10px) center;
		    @include border-radius( 0 );
        }
        .search-icon {
    	    border: none;
		    background: transparent;
		    padding: 0;
        	cursor: pointer;
        	background: $brand-primary;
        	.fa {
				width: 40px;
				color: #fff;
				font-size: 18px;
	        }
	    }
    }
}


.language {
	#lang_sel {
		height: auto;
		font-family: inherit;
		display: block;
		ul {
			li {
				// width: 122px;
				z-index: 100;
				a {
					img {
						top: 0px;
					}
				}
				ul {
					border: none;
				}
			}
		}
	}
}


//menu pc
.menu {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #f8f8f8;
    @include box-shadow( 0px 3px 5px 1px #ccc );
    .main-menu {
		> div {
	        ul {
	        	list-style-type: none;
			    margin: 0;
			    padding: 0;
	            li {
	                position: relative;
	                a {
					    color: #000;
					    display: block;
					    font-size: 16px;
					    padding: 15px 30px;
					    position: relative;
					    text-transform: uppercase;
					    white-space: nowrap;
	                }
	                &:hover {
	                    > a {
						    color: $brand-primary;
						}
	                    > .sub-menu {
	                        @include transform( scale(1, 1) );
	                    }
	                }
	            }
	            .current-menu-item > a {
	            	color: #27ae60;
	            }
	        }
	        > ul {
	            > li {
	                float: left;
	                border-left: 1px solid transparent;
					border-right: 1px solid transparent;
	                &::after {
					    position: absolute;
					    content: "";
					    width: 1px;
					    height: 50%;
					    right: -2px;
					    top: 50%;
					    background: #dedede;
					    @include transform( translateY(-50%) );
					}
					&:last-child {
						&:after {
							display: none;
						}
					}
	                .sub-menu {
	                    left: -1px;
	                    position: absolute;
	                    top: 100%;
	                    z-index: 2222;
	                    min-width: 100%;
					    @include transform( scale(1, 0) );
					    @include transform-origin( 0 0 0 );
					    @include transition( all 400ms ease 0s );
	                    .sub-menu {
						    border-left: 1px solid transparent;
						    left: 100%;
						    top: -1px;
	                    }
	                    li {
	                    	a {
								background: rgba(248, 248, 248, 0.7);
								font-size: 14px;
								text-transform: unset;
								padding: 5px 30px;
	                    	}
	                    	&:hover > a {
							    background: rgba(39, 174, 96, 0.85);
							    color: #fff;
							}
	                    }
	                }
	            }
	        }
	    }
	}
}

//menu mobile
.menu {
	.mean-container {
		.mean-bar {
		    background: none;
		    left: 0;
		    padding: 0;
		    position: absolute;
		    top: -1px;
		    z-index: 9;
		    max-width: 300px;
		    .meanmenu-reveal {
			    background: $brand-primary;
			    border: 1px solid rgba(255, 255, 255, 0.5);
			    right: auto !important;
			    left: 0;
			    top: 0;
			    height: 20px;
			    line-height: 20px;
			    width: 22px;
			    padding: 10px 11px 10px;
			}
			.mean-nav {
			    background: $brand-primary;
			    margin-top: 42px;
			    ul {
			    	li {
			    		a {
						    padding-bottom: 11px;
						    padding-top: 11px;
						}
						.sub-menu {
							li {
								a {
						    		text-transform: none;
								}
							}
						}
						.mean-expand {
						    height: 19px;
						    line-height: 19px;
						    &:hover {
							    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
							}
						}
					}
				}
			}
		}
	}
}


