.list-product-content {
	.msc-listing {
		display: flex;
		display: -webkit-flex;
		@include flex-wrap( wrap );
	}
	.item {
		margin: 0 0 30px;
		@extend box-shadow-item;
		@include hover-img-toa-item;
		figure {
			img {
				@extend background-cover;
			}
		}
		.info {
			.title-product {
				a {
					h3 {

					}
				}
			}
		}
	}
}

.archive-product {
	.list-product-content {
		.item {
			.info {
				padding: 0 10px;
				.title-product {
					h3 {
				        height: auto;
				        max-height: 45px;
					}
					a {
				        height: 45px;
				        @include justify-content( center );
				        @include align-items( center );
				        display: flex;
				        display: -webkit-flex;
				        margin: 5px 0;
					}
				}
			}
		}
	}
}