.page-category-content {
	.msc-listing {
		display: flex;
		display: -webkit-flex;
		@include flex-wrap( wrap );
	}
	.item {
		margin: 0 0 30px;
		@extend box-shadow-item;
		@include hover-img-color-item;
		figure {
			img {
				@extend background-cover;
			}
		}
	}
}