.page-contact {
    padding-bottom: 30px;
    
    .contact-form {
		.contact-page-title {
		    font-weight: bold;
		    font-size: 16px;
		}
	}
	.contact-content {

	}
	.contact-map {
		iframe {
			width: 100%;
			height: 300px;
		}
	}
}
