.home-banner {
	margin-top: -2px;
	.home-banner-content {
		.home-banner-item {
			.home-banner-info {
				@include transform( translateX(-50%) );
				top: auto;
				bottom: 0;
				color: #000;
			    padding-bottom: 3%;
				.banner-title {
					color: red;
					text-transform: uppercase;
					border-bottom: 2px solid #000;
					margin: 0 0 20px;
				}
				.banner-excerpt {

				}
				.banner-button {
					a {
						color: #000;
						border: 2px solid #333;
					}
				}
			}
		}
	}
}

.home-banner-content {
	.home-banner-item {
		position: relative;
		figure {
			img {
				@extend background-cover;
			}
		}
		.home-banner-info {
			color: #fff;
			position: absolute;
			left: 50%;
			@include transform( translate(-50%, -50%) );
			text-align: center;
			top: 50%;
			.banner-title {
				font-size: 30px;
				text-transform: inherit;
				border-bottom: 2px solid transparent;
				padding: 0 60px 20px;
				margin: 0;
				display: inline-block;
			}
			.banner-excerpt {
				font-size: 16px;
				display: block;
			}
			.banner-button {				
				margin: 30px 0 0;
				display: inline-block;
				position: relative;
				a {
					border: 2px solid #fff;
					padding: 8px 20px;
					display: inline-block;
					color: #fff;
					position: relative;
					z-index: 10;
				}
				&::after {
				    content: "";
				    width: 100%;
				    height: 100%;
				    position: absolute;
				    background: rgba(0,0,0,0.3);
				    left: 0;
				    top: 0;
				    z-index: 2;
				    @include transform( scale(0,1) );
				    @include transition( 0.5s ease 0s );
				}
				&:hover {
					&::after {
					    @include transform( scale(1,1) );
					}
				}
			}
		}
	}
}

.home-product-feature {
	.title-widget {
	    text-align: center;
	    h2 {
		    margin: 40px 0 20px;
		    display: inline-block;
		    border-bottom: 2px solid $brand-primary;
		    padding: 0 0 5px 0;
		}
	}
}

.home-testimonial {
	.item {
		padding: 30px 70px;
		display: flex;
		display: -webkit-flex;
		@include align-items( center );
		figure {
			width: 180px;
			@include border-radius( 50% );
			overflow: hidden;
			margin: auto;
			img {
				@extend background-cover;
			}
		}
		.testimonial-content {
			text-align: center;
			font-size: 20px;
			width: calc(100% - 180px);
			padding: 0 30px;
		}
	}
}

.home-news-feature-content {
	.item {
		height: 285px;
		margin: 30px 0 0;
		@extend background-cover;
		@include hover-title-top;
		.title-news-feature {
    		h3 {
			    color: #fff;
			    background: rgba(0,0,0,0.3);
			    font-size: 16px;
			    text-align: center;
			    margin: 0;
			    padding: 10px;
			}
		}
	}
	.news-feature-left {
		.item {
			height: 600px;
		}
	}
}
