@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1199px) {
	.container {
		max-width: 100%;
	}

}
//end 1200px

@media screen and (max-width: 992px) {
	.header-top-content .search-box {
	    display: none;
	}
	.menu {
	    height: 38px;
	    @include box-shadow( 0 0 0 0 );
	    .search-box {
			display: block;
			// float: right;
			width: auto;
			position: relative;
			z-index: 10;
		    position: absolute;
		    right: 0;
		    top: 0;
			form {
			    width: auto;
			}
	    }
	}
	//footer
	.title-widget h2 {
	    margin: 30px 0 5px;
	}
	.content-info {
	    padding: 0 0 15px 0;
	}
}
//end 992px

@media screen and (max-width: 767px) {
	.breadcrumbs {
	    margin: 15px 0;
	}
	//home-news-feature
	.home-news-feature-content .item .title-news-feature {
		@include transform( translateY(0) );
		@include transition( 0s ease 0s );
	}
	//banner home
	.home-banner-content .home-banner-item .home-banner-info {
		display: none;
	}
	// .home-banner-content {
	// 	.home-banner-item {
	// 		figure {
	// 			img {
	// 			    height: 300px;
	// 			}
	// 		}
	// 		.home-banner-info {
	// 			width: 100%;
	// 			padding: 0 15px;
	// 			.banner-title {
	// 				font-size: 26px;
	// 				padding: 0 0 10px;
	// 			}
	// 			.banner-button {
	// 				margin: 20px 0 0;
	// 			}
	// 		}
	// 	}
	// }
	.slick-prev {
	    left: 30px;
	}
	.slick-next {
	    right: 30px;
	}
	//home-testimonial
	.home-testimonial .item {
	    padding: 30px;
	}
	//single product
	.single-product-gallery {
	    margin-bottom: 15px;
	}
}
//end 767px

@media screen and (max-width: 575px) {
	.popup-mobile {
		display: block;
	}
	.desc, .title-product h3, .title-news h3 {
	    height: auto;
	    overflow: inherit;
	}
	.sidebar .item .info .title-news h3 {
		max-height: 100%;
	}
	.menu .search-box {
		display: none;
	}
	//footer
	.footer-follow form {
	    width: calc(100% - 50px);
	}
	//home-testimonial
	.home-testimonial .item {
	    padding: 15px;
	    display: flex;
		flex-direction: column-reverse;
	}
	.home-testimonial .item .testimonial-content {
	    width: 100%;
	    padding: 0;
	    margin-top: 30px;
	}
	//single peoduct
	.nav-tabs .nav-item {
	    width: 50%;
	    text-align: center;
	}
	.single-product-tab .single-product-tab-content .nav-tabs .nav-item a {
		padding: 10px 0;
		font-size: 16px;
	}
	.single-product-tab .single-product-tab-content .tab-content {
		padding: 20px;
	}
}
//end 575px

@media screen and (max-width: 480px) {
	//banner home
	.slick-prev, .slick-next {
	    display: none;
	}
}
//end 480px

@media screen and (max-width: 400px) {

}
//end 400px

@media screen and (max-width: 320px) {

}
