.sidebar {
	section {
		margin: 0 0 30px;
	}
	img {
		width: 100%;
	}
	.title-widget {
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		background: $brand-primary;
		color: #fff;
		padding: 10px 0;
		margin: 0;
	}
	.msc-listing {
		border: 1px solid #ccc;
		border-top: none;
		padding: 10px 15px 15px;
	}
	.item {
		display: inline-block;
		width: 100%;
		margin: 0 0 10px;
		&:last-child {
			margin: 0;
		}
		figure {
			width: 80px;
			float: left;
			margin: 4px 15px 0 0;
			img {
				@extend background-cover;
				border: 2px solid #dedede;
			}
		}
		.info {
			padding: 0;
			.title-news h3 {
				max-height: 40px;
				height: auto;
				font-size: 14px;
			}
			.meta {
				margin: 5px 0 0;
			}
		}
	}
}