.single-news-content {
	.meta {
    	text-align: right;
    	font-size: 14px;
    	margin: 15px 0;
	}
}

.single-content {
    text-align: justify;
}

.related-news-content {
	.msc-listing {
	    border: none;
	    padding: 0;
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap( wrap );
	}
	.item {
	    border: 1px solid #ccc;
	    padding: 5px;
	    margin: 0 0 30px;
	    display: flex;
	    display: -webkit-flex;
	    @include align-items( center );
	    figure {
	    	width: 120px;
		    margin-top: 0;
		    img {
			    border: none;
			}
		}
		.info {
		    width: calc(100% - 120px);
		    .title-news {
		    	h3 {
				    font-weight: 500;
				}
			}
		}
		&:last-child {
			margin: 0 0 30px;
		}
	}
}
