.single-product-top {
	.single-product-gallery {
		img {
			@extend background-cover;
		}
		.gallery-full {

		}
		.gallery-thumbs {
			overflow: hidden;
			ul {
			    padding: 0;
			    margin: 0;
			    list-style-type: none;
			    margin: 0 -5px;
			    li {
					width: 20%;
					padding: 10px 5px;
					float: left;
				}
			}
		}
	}
	.single-product-info {
		.entry-meta {
			width: 100%;
			display: inline-block;
			.entry-ratings {
				float: left;
				margin: 0 5px 0 0;
				.fa {
					color: #f7d933;
				}
			}
			.entry-review {
				float: left;
			}
		}
		.price {
		    text-align: left;
		    font-size: 24px;
		    margin: 50px 0 15px;
		    height: auto;
		    text-transform: uppercase;
		}
	}
}

.entry-title {
    font-size: 24px;
    font-weight: 600;
}

.contact-us {
    color: #fff;
    background: $brand-primary;
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
	    color: #fff;
	}
}

//tab
.single-product-tab {
	margin: 30px 0;
	.single-product-tab-content {
		display: inline-block;
		width: 100%;
		border: 1px solid #ccc;
		.nav-tabs {
			background: #f8f8f8;
			border: none;
			.nav-item {
				a {
					color: $brand-primary;
					font-size: 18px;
					border: none;
					color: #888888;
					padding: 10px 40px;
					transition: none;
				}
				.active {
					border-bottom: 2px solid $brand-primary;
					color: $brand-primary;
					background: transparent;
				}
			}
		}
		.tab-content {
		    padding: 30px 40px;
		    display: inline-block;
		    width: 100%;
		}
	}
}

//related
.related-title h2 {
    margin: 20px 0;
    font-size: 24px;
}
