a:hover, a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input:focus, select:focus, textarea:focus { outline: none; }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
.widget p { margin: 0; }
.msc-listing { width: 100%; }
.main { display: inline-block; width: 100%; }
.fix-container { width: 900px; margin: auto; }
h1, h2, h3, h4, h5, h6 { line-height: 1.4; }
p { margin-bottom: 5px; }

body {
    font-weight: 400;
	color: #000;
	font-size: 14px;
}

.title-widget {
    h2 {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 15px;
    }
}
.title-product {
    h3 {
        color: #000;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        height: 45px;
        overflow: hidden;
        &:hover {
            color: $brand-primary;
        }
    }
}
.title-news {
    h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        height: 50px;
        overflow: hidden;
        &:hover {
            color: $brand-primary;
        }
    }
}
.info {
    padding: 20px 15px;
}
.meta {
    font-size: 12px;
    color: #666666;
    margin: 10px 0;
    span {
        margin: 0 5px 0 0;
    }
}
.desc {
    height: 65px;
    overflow: hidden;
    text-align: justify;
}
.price {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 0;
    height: 28px;
    overflow: hidden;
}

.breadcrumbs {
    margin: 30px 0;
    span {
        color: #666;
        a {
            color: #666;
        }
    }
}


/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend background-contain; */
background-contain {
    @include background-size( contain );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend box-shadow-item; */
box-shadow-item {
    border: 2px solid #dedede;
    @include transition( 0.5s ease 0s );
    &:hover {
        @include box-shadow( 0px 0px 5px 1px #ccc );
    }
}


#back-to-top {
    background: green;
    bottom: 5px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;

    .fa {
        color: #ffffff;
    }
}


//contact-us cho vào mobile
.popup-mobile {
    bottom: 53px;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;

    .popup-content {
        display: none;
        .search-box {
            display: block;
            width: auto;
            background: green;
            @include border-radius( 5px );
            padding: 10px;
            form {
                width: auto;
                display: block;
                input, select {
                    height: 40px;
                }
                select {
                    width: 100%;
                    margin: 5px 0;
                }
                .search-icon .fa {
                    width: auto;
                    padding: 5px 10px;
                }
            }
        }
    }
    .popup-plush {
        background: green none repeat scroll 0 0;
        color: #fff;
        cursor: pointer;
        float: right;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        margin-top: 10px;
        text-align: center;
        width: 40px;
    }
}